<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIKE STATION</title>
</head>
<body>
    <div class="container">
        Trả xe thất bại. <a href="/return_bike">Nhấn vào đây</a> để thực hiện lại. <br/> <br/>
        <%= data %>
    </div>
</body>
<style>
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    .container {
        font-size: 25xp;
        width: 100vw;
        margin: auto;
        justify-content: center;
        text-align: center;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
</style>
</html>